
#nav{
    background-color: transparent;
}
header{
    background-color: rgba(37, 62, 66, 0.877);
}


#home{
    color: white;
}

#container2{
    margin-top: 2px;
    background-color:rgba(37, 62, 66, 0.877);
}
